Excel-Html-Previewer/bin/
Excel-Html-Previewer/bin/*
Excel-Html-Previewer/obj/
Excel-Html-Previewer/obj/*
Excel-Html-Previewer/obj/Debug/
Excel-Html-Previewer/obj/Debug/*
Excel-Html-Previewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Excel-Html-Previewer.Tests/bin/Debug/
Excel-Html-Previewer.Tests/bin/Debug/*
Excel-Html-Previewer.Tests/obj/Debug/*
Excel-Html-Previewer.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

.vs/config/applicationhost.config
.vs/Excel-Html-Previewer/v14/.suo
.vs/Excel-Html-Previewer/

packages/
packages/*

*.csproj.user
Excel-Html-Previewer.Tests/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Excel-Html-Previewer.Tests/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Excel-Html-Previewer.Tests/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Excel-Html-Previewer.Tests/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Excel-Html-Previewer.Tests/obj/*
*.bak
*.cache

*.xls
*.xlsx