@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-group">
        <h3>@ViewBag.Title</h3>
    </div>

    <ul>
        <li><a href="~/Home/PreviewerForExcel" target="_blank">The Previewer For Excel</a></li>
        <li><a href="~/Home/PreviewerForHtmlPack" target="_blank">The Previewer For Html Pack</a></li>
    </ul>
</div>

@section scripts
{

}